/* styles.css */

body {
    background-color: #f9f9f9;
    color: #333333;
  }
  
  .navbar {
    background-color: #333333;
  }

  .company-logo {
    max-width: 60px;
    margin-right: 10px;
    border-radius: 50%; /* Aplica a forma circular */
    overflow: hidden; /* Esconde o conteúdo que sai da forma circular */
  }
  
  .company-name {
    font-size: 22px;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item {
    margin-right: 20px;
  }
  
  .section-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .projects {
    padding: 50px 0;
    background-color: #ffffff;
  }
  
  .project {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .project img {
    max-width: 100%;
  }
  
  .project h3 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  .project p {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .footer {
    background-color: #333333;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
  }
  
  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-info p {
    font-size: 16px;
  }
  